/* Width and height are needed for some elements to work properly */
html {
  width: 100%;
  height: 100%;
}

/* Width and height are needed for some elements to work properly */
body {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #e6e8eb;
  font-family: "Source Sans Pro";
  text-rendering: optimizeSpeed !important;
  /* text-shadow: 2px 1px 3px #444444; */
}

/* Turning off decorations, e.g. underline for links */
.no-deco {
  text-decoration: none !important;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.icon-pad-right {
  padding-right: 0.3em;
}

.footer-text {
  font-size: 0.8rem;
}

/* Copy to html and change url */
.background {
  background: url(https://placehold.it/1024x768);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
  animation: kenburns 110s infinite linear;
}

.big-font {
  font-size: 4rem;
  font-weight: 600;
}

.scaling-font {
  font-size: calc(3rem + 1vw);
  font-weight: 600;
  line-height: calc(4rem + 1vw);
}

.page-bottom {
  position: fixed;
  right: 15px;
  bottom: 1vh;
  left: 15px;
  z-index: 1000;
}

.pad-top {
  padding-top: 15px;
}

.pad-right {
  padding-right: 1vh;
}

.pad-left {
  padding-left: 1vw;
}

.pad-30p-height {
  padding-top: 30vh;
}

.center {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Rotate is needed for IE, otherwise it is jumpy */
@keyframes kenburns {
  50% {
    transform: scale(1.3) rotate(0.04deg);
  }
}